/* About Section */
.about-section {
    background-color: #f9f9f9;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 2rem;
    border-bottom: 1px solid #ddd;
  }
  
  /* Responsive padding */
  @media only screen and (max-width: 600px) {
    .about-section {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 1rem;
    }
  }
  
  .section-header {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  /* About Info */
  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  /* Responsive flex layout */
  @media only screen and (max-width: 600px) {
    .about-info {
      gap: 0.5rem;
    }
  }
  
  .about-text {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  /* Text Formatting */
  .intro {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .education,
  .passion,
  .hobbies {
    margin-bottom: 1rem;
  }
  
  .highlight {
    color: #007bff;
    font-weight: bold;
  }
  
  /* Responsive Text Formatting */
  @media only screen and (max-width: 600px) {
    .intro {
      font-size: 1rem;
    }
  }
  