/* Section */
.experience-section {
    padding: 4rem 0;
    background-color: #f9f9f9;
    padding: 2rem;
    border-bottom: 1px solid #ddd;
  }
  
  /* Responsive padding */
  @media only screen and (max-width: 600px) {
    .experience-section {
      padding: 1rem;
    }
  }
  
  /* Job Container */
  .job {
    display: flex;
    align-items: flex-start;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  /* Responsive flex layout */
  @media only screen and (max-width: 600px) {
    .job {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  }
  
  /* Job Title */
  .job h2 {
    text-align: left;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  /* Job Image */
  .job img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Responsive image */
  @media only screen and (max-width: 600px) {
    .job img {
      width: 80px;
      height: 80px;
    }
  }
  
  /* Job Content */
  .job div {
    margin-left: 20px;
    flex: 1;
  }
  
  /* Responsive margin */
  @media only screen and (max-width: 600px) {
    .job div {
      margin-left: 0;
    }
  }
  
  /* Job Meta Data */
  .job p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 1rem;
  }
  
  /* Job Description */
  .job ul {
    list-style: disc inside;
  }
  
  .job ul li {
    margin-bottom: 0.5rem;
  }
  