/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #ffffff !important; 
    
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding-bottom: 100px;
    
  }
  
  .header-content h1 {
    background: transparent;
    font-size: 5rem;
    font-weight: 900;
    margin: -0.25em 0;
    text-decoration: none;
  }
  
  .header-content p {
  
    font-size: 1.5rem;
    margin: 0.1em 0;
  }
  
  .header-content img {
    border-radius: 50%;  /* Optional, for rounded image */
    margin-bottom: 1em;
  }
  
  .social-icons-header {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
  }
  
  .social-icons-header a {
    margin: 0 16px;
  }
  
  .social-icons-header img {
    width: 36px;
    height: 36px;
  }
  